.home {
    margin: 2rem auto;
    max-width: 1200px;
  }

  @media screen and (max-width: 768px) {
    .about {
      padding: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .about {
      padding: 0.5rem;
    }
  }