.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  text-align: center;
}

.errorImg {
  max-width: 300px;
  margin: 6rem;
}

.errorText {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ff6060;
}

.errorLink {
  margin-top: 5rem;
  font-size: 1rem;
  color: #000000;
  text-decoration: underline;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
