.banner {
    position: relative;
    width: 85%;
    height: 200px;
    background: url("../assets/Image source 1.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem;
    border-radius: 15px;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    border-radius: 15px;

  }
  
  .title {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }

  .title_mobile {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: none;
  }
  @media screen and (max-width: 768px) {
    .banner {
      height: 100px;
    }
    .title{
      font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    
    .banner {
      height: 100px;
    }
  .title{
    font-size: 1.5rem;
    display : none;
  }
  .title_mobile {
    position: relative;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    font-size: 1.5rem;  
    padding-right: 35%;
  }
  }