.banner {
    position: relative;
    width: 85%;
    height: 200px;
    background: url("../assets/image_source2.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem;
    border-radius: 15px;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    border-radius: 15px;

  }
  
  .title {
    position: relative;
    color: #fff;
    font-size: 2rem;
    
  }
  /* Responsive */
@media screen and (max-width: 768px) {
  .bannerAbout {
    height: 60%;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: 100px;
  }
}