/* my-react-app/src/components/Card.module.css */

.card {
  position: relative;
  background: #ff6060;
  border-radius: 10px;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

.title {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 90%;
  color: #fff;
  font-size: 1rem;
  text-align: left;
  line-height: 1.4;
  word-wrap: break-word;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .title {
    font-size: 0.9rem;
  }
  .card {
    aspect-ratio: 1/0.75;
  }
  .image{
    height: 80%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 0.8rem;
  }
}
