/* my-react-app/src/components/Cards.module.css */

/* Conteneur global pour la grille de cartes */
.cardsContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
