/* my-react-app/src/components/Carroussel.module.css */

.container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
  }
  
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .arrowLeft {
    left: 10px;
  }
  
  .arrowRight {
    right: 10px;
  }
  
  .counter {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .container {
      height: 300px;
    }
    .arrowLeft,
    .arrowRight {
      width: 30px;
      height: 30px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      height: 200px;
    }
    .arrowLeft,
    .arrowRight {
      width: 25px;
      height: 25px;
    }
  }
  