/* my-react-app/src/components/Footer.module.css */

.footer {
  width: 100vw;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 3rem ;
  height: 150px;
  margin-left: calc(-50vw + 50%);
}

.footer p {
  margin: 25px;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .footer p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .footer p {
    font-size: 0.8rem;
  }
}
