.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.nav {
  display: flex;
  gap: 3.5rem;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: 450;
  font-size: 1.5rem;
}

.navLink:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .container {
    max-width: 90%;
  }
  .logo {
    height: 50px;
  }
  .nav {
    gap: 2rem;
  }
  .navLink {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 95%;
  }
  .logo {
    height: 40px;
  }
  .nav {
    gap: 1rem;
  }
  .navLink {
    font-size: 1rem;
  }
}
