.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}
  @media screen and (max-width: 480px) {
    .mainContainer {
      padding: 0;
    }
  }